body{
    background-color: #534f4f99;
    background-image: url("/files/img/auditorium-2584269_1920.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
/*=============================================
    Banners           */
.col-banners{
    margin-bottom:4.5px;
    background: transparent;
}                  
.banner-content{
    height: 215px;
    text-align:center;
    margin-top: 10px;
}
.banner-init{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
/*=====  End of banners  ======*/
.formContent{
    background:rgb(54, 50, 50);
    padding: 13px;
}
.jusitfy-content-center{
    justify-content: center;
    display: flex;
}
.btn-black{
    background:black;
    border:0px solid black;
}
.btn-black:hover{
    background:black;
    border:0px solid black;
}
.text-relative{
    color:#9fa89f;
    font-size: 12px;
}
.text-black{
    color:white;
}
.mb-9{
    margin-bottom: 9px;
}
.mb-12{
    margin-bottom: 12.5px;
}
.form-login{
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    background: #e8dfdf82 none;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #ccc;

    margin-top: 7px;
}
.content-login{
    position: fixed;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    width:100%;
}
@media (min-height: 800px)  {
    .content-login{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 900px)  {
    .content-login{
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}